@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Montserrat:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  font-family: "Chivo", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1330px;
  padding: 0px 30px;
  margin: auto;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 0px;
  z-index: 1000;
}
nav .list-item {
  position: absolute;
  top: 84px;
  width: 100%;
  display: none;
  padding: 20px 0px;
  padding-left: 30px;
  background-color: rgb(25, 46, 25);
  z-index: 999;
}
nav .list-item ul {
  gap: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav .list-item ul li {
  color: white;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
nav .list-item ul li i {
  color: #10C98F;
  padding-right: 40px;
}
nav .list-item ul li button {
  width: 180px;
  padding: 20px 0px;
  background-color: #10C98F;
  text-align: center;
  border-style: none;
  color: white;
  font-weight: 300;
  font-size: 15px;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .navbar img {
  width: 140px;
}
nav .navbar ul {
  list-style: none;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar ul li {
  color: white;
  font-weight: 700;
  font-size: 16px;
}
nav .navbar ul li button {
  cursor: pointer;
  width: 180px;
  padding: 20px 0px;
  background-color: #10C98F;
  text-align: center;
  border-style: none;
  color: white;
  font-weight: 300;
  font-size: 15px;
}
nav .navbar .favClick {
  cursor: pointer;
}
nav .navbar i {
  font-size: 40px;
  color: white;
  display: none;
}

.section1 {
  width: 100%;
  padding: 150px 0px 90px 0px;
  background-image: linear-gradient(to bottom, rgba(16, 201, 143, 0.4), rgba(16, 201, 143, 0.4)), url("https://preview.colorlib.com/theme/easylo/assets/img/hero/h1_hero1.jpg.webp");
  background-position: center;
  background-size: cover;
}
.section1 .easylo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .easylo .simple {
  margin-bottom: 35px;
  margin-left: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section1 .easylo .simple h1 {
  font-size: 62px;
  color: white;
  font-weight: 600;
  position: relative;
  line-height: 1.1;
  margin-bottom: 20px;
  padding-bottom: 29px;
}
.section1 .easylo .simple h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 3px;
  background-color: white;
}
.section1 .easylo .simple p {
  color: white;
  font-weight: 600;
  font-size: 23px;
}
.section1 .easylo .simple button {
  margin-top: 20px;
  width: 200px;
  padding: 20px 0px;
  background-color: transparent;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-weight: 300;
  font-size: 15px;
  transition: all 0.5s ease;
}
.section1 .easylo .simple button:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #10C98F;
  border-color: #10C98F;
}
.section1 .easylo .select {
  width: 420px;
  background-color: white;
  padding: 10px 0px;
  position: relative;
}
.section1 .easylo .select .first {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  padding: 20px 0px;
  text-align: center;
}
.section1 .easylo .select .first h1 {
  font-size: 32px;
  color: rgb(22, 62, 22);
  font-weight: 700;
}
.section1 .easylo .select .first p {
  font-size: 15px;
  font-weight: 600;
  color: rgb(56, 56, 56);
}
.section1 .easylo .select .first .after {
  width: 120px;
  height: 3px;
  background-color: #26BE9F;
}
.section1 .easylo .select .second {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.section1 .easylo .select .second .all {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 80%;
}
.section1 .easylo .select .second .all label {
  font-size: 13px;
  color: rgb(130, 129, 129);
  font-weight: 600;
}
.section1 .easylo .select .second .all select {
  border: 1px solid rgb(205, 204, 204);
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .easylo .select .second .all select:focus {
  outline: none;
}
.section1 .easylo .select .second .all p {
  padding-left: 5px;
  font-size: 13px;
  color: rgb(52, 51, 51);
  font-weight: 600;
}
.section1 .easylo .select .second .all p span {
  font-size: 20px;
  color: #10C98F;
  font-weight: 700;
}
.section1 .easylo .select .second .all button {
  background-color: #10C98F;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-style: none;
  padding: 17px 0px;
}
.section1 .easylo .select .second .all h1 {
  text-align: center;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(110, 110, 110);
}

.section2 {
  padding: 70px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .solution {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  gap: 20px;
}
.section2 .solution h1 {
  font-size: 38px;
  color: rgb(22, 62, 22);
  font-weight: 800;
}
.section2 .solution div {
  width: 120px;
  height: 3px;
  background-color: #26BE9F;
}
.section2 .solution p {
  padding: 0px 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(147, 147, 147);
}

main {
  width: 100%;
  padding: 30px 0px;
}
main .js {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
main .js .js-1 {
  gap: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}
main .js .js-1:hover h2 {
  transition: all 0.7s ease;
  color: #10C98F;
  cursor: pointer;
}
main .js .js-1 img {
  width: 60px;
}
main .js .js-1 h3 {
  color: #26BE9F;
  font-weight: 400;
  font-size: 14px;
}
main .js .js-1 h2 {
  font-size: 24px;
  color: rgb(22, 62, 22);
  font-weight: 700;
}
main .js .js-1 p {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(147, 147, 147);
}
main .js .js-1 button {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #10C98F;
  color: #10C98F;
  font-weight: 300;
  font-size: 19px;
  transition: all 0.5s ease;
}
main .js .js-1 button:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #10C98F;
  color: white;
}

.detailsPage {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsPage p {
  font-size: 40px;
  color: #10C98F;
}

.favoritesPage {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favoritesPage p {
  font-size: 40px;
  color: #10C98F;
}

.main {
  width: 100%;
  padding: 90px 0px;
}
.main .js {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
}
.main .js .js-1 {
  gap: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}
.main .js .js-1:hover h2 {
  transition: all 0.7s ease;
  color: #10C98F;
  cursor: pointer;
}
.main .js .js-1 img {
  width: 60px;
}
.main .js .js-1 h3 {
  color: #26BE9F;
  font-weight: 400;
  font-size: 14px;
}
.main .js .js-1 h2 {
  font-size: 24px;
  color: rgb(22, 62, 22);
  font-weight: 700;
}
.main .js .js-1 p {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(147, 147, 147);
}
.main .js .js-1 button {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #10C98F;
  color: #10C98F;
  font-weight: 300;
  font-size: 19px;
  transition: all 0.5s ease;
}
.main .js .js-1 button:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #10C98F;
  color: white;
}

.section3 {
  width: 100%;
  padding: 100px 0px;
  background-color: #E4F1ED;
}
.section3 .photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section3 .photo .img {
  width: 520px;
  position: relative;
}
.section3 .photo .img .img1 {
  width: 100%;
}
.section3 .photo .img .img1 img {
  width: 100%;
}
.section3 .photo .img .img1 .green {
  width: 270px;
  padding: 50px 0px;
  background-color: #26BE9F;
  position: absolute;
  z-index: 1000;
  bottom: -60px;
  right: -70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}
.section3 .photo .img .img1 .green h1 {
  color: white;
  font-weight: 800;
  font-size: 70px;
}
.section3 .photo .img .img1 .green p {
  color: white;
  font-size: 17px;
}
.section3 .photo .sentences {
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section3 .photo .sentences h1 {
  font-size: 38px;
  color: rgb(22, 62, 22);
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.section3 .photo .sentences p {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(147, 147, 147);
}
.section3 .photo .sentences .long {
  margin: 7px 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(167, 167, 167);
}
.section3 .photo .sentences .one {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section3 .photo .sentences .one .two {
  width: 13px;
  height: 13px;
  background-color: #26BE9F;
  border-radius: 50%;
}
.section3 .photo .sentences .one p {
  color: rgb(22, 62, 22);
  font-size: 17px;
  font-weight: 600;
}
.section3 .photo .sentences button {
  margin-top: 25px;
  width: 200px;
  padding: 20px 0px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #10C98F;
  color: #10C98F;
  font-weight: 300;
  font-size: 19px;
  transition: all 0.5s ease;
}
.section3 .photo .sentences button:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #10C98F;
  color: white;
}

.section4 {
  padding: 70px 0px;
  width: 100%;
  background-color: rgb(241, 255, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .solution {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  gap: 20px;
}
.section4 .solution h1 {
  font-size: 38px;
  color: rgb(22, 62, 22);
  font-weight: 800;
}
.section4 .solution div {
  width: 120px;
  height: 3px;
  background-color: #26BE9F;
}
.section4 .solution p {
  padding: 0px 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(147, 147, 147);
}

.section5 {
  width: 100%;
  padding: 10px 0px 80px 0px;
  background-color: rgb(241, 255, 250);
}
.section5 .choose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section5 .choose .choose-1 {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease;
}
.section5 .choose .choose-1:hover h1 {
  transition: all 0.7s ease;
  color: #10C98F;
  cursor: pointer;
}
.section5 .choose .choose-1 img {
  width: 110px;
}
.section5 .choose .choose-1 h1 {
  font-size: 25px;
  color: rgb(22, 62, 22);
  font-weight: 700;
}
.section5 .choose .choose-1 p {
  text-align: center;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 29px;
  color: rgb(90, 89, 89);
}

.section6 {
  width: 100%;
  padding: 100px 0px;
  background-color: #E4F1ED;
}
.section6 .photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section6 .photo .img {
  width: 530px;
  margin-right: 30px;
}
.section6 .photo .img img {
  width: 100%;
}
.section6 .photo .sentences {
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section6 .photo .sentences h1 {
  font-size: 40px;
  color: rgb(22, 62, 22);
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.section6 .photo .sentences p {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(147, 147, 147);
}
.section6 .photo .sentences .long {
  margin: 7px 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(167, 167, 167);
}
.section6 .photo .sentences .one {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section6 .photo .sentences .one .two {
  width: 13px;
  height: 13px;
  background-color: #26BE9F;
  border-radius: 50%;
}
.section6 .photo .sentences .one p {
  color: rgb(22, 62, 22);
  font-size: 17px;
  font-weight: 600;
}
.section6 .photo .sentences button {
  margin-top: 25px;
  width: 200px;
  padding: 20px 0px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #10C98F;
  color: #10C98F;
  font-weight: 300;
  font-size: 19px;
  transition: all 0.5s ease;
}
.section6 .photo .sentences button:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #10C98F;
  color: white;
}

.section7 {
  padding: 70px 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section7 .solution {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  gap: 20px;
}
.section7 .solution h1 {
  font-size: 38px;
  color: rgb(22, 62, 22);
  font-weight: 800;
}
.section7 .solution div {
  width: 120px;
  height: 3px;
  background-color: #26BE9F;
}

.section8 {
  width: 100%;
  padding: 40px 0px;
}
.section8 .news {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.section8 .news .news-1 {
  flex-direction: column;
  width: 32%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  transition: all 0.5s ease;
}
.section8 .news .news-1:hover h1 {
  transition: all 0.7s ease;
  cursor: pointer;
  color: #10C98F;
}
.section8 .news .news-1 img {
  width: 100%;
}
.section8 .news .news-1 h2 {
  color: rgb(188, 188, 188);
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.section8 .news .news-1 h1 {
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(22, 62, 22);
}
.section8 .news .news-1 p {
  font-family: "Chivo", sans-serif;
  color: #7f8683;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.6;
}

footer {
  width: 100%;
  padding: 30px 0px;
  background-color: rgb(241, 255, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .end {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .end p {
  font-size: 16px;
  font-weight: 500;
}
footer .end p i {
  color: #10C98F;
}
footer .end p span {
  color: #10C98F;
}

#up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  color: #10C98F;
  cursor: pointer;
  display: none;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0px;
}
.load button {
  width: 200px;
  padding: 10px 0px;
  background-color: #10C98F;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-weight: 300;
  font-size: 19px;
  transition: all 0.5s ease;
}
.load button:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: white;
  color: #10C98F;
  border: 2px solid #10C98F;
}

.update-html {
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-html .update {
  width: 470px;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 15px rgb(39, 76, 78);
  border-radius: 30px;
  background-color: cadetblue;
}
.update-html .update form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.update-html .update form img {
  width: 150px;
}
.update-html .update form label {
  color: white;
  font-size: 20px;
}
.update-html .update form input {
  padding: 10px 0px;
}
.update-html .update form input:focus {
  outline: none;
}
.update-html .update form input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: 0.5s;
}

.comeback {
  position: fixed;
  bottom: 30px;
  left: 30px;
  margin-top: 25px;
  width: 200px;
  padding: 20px 0px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #10C98F;
  color: #10C98F;
  font-weight: 300;
  font-size: 19px;
  transition: all 0.5s ease;
}
.comeback:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: #10C98F;
  color: white;
}

@media screen and (max-width: 1200px) {
  .section3 .photo .img .img1 .green {
    bottom: 0;
    right: 0;
  }
  .section6 .photo .img {
    width: 480px;
  }
  .section6 .photo .img img {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  nav .navbar ul {
    display: none;
  }
  nav #list {
    display: block;
  }
  .section1 .easylo .simple {
    margin: 0;
  }
  main .js {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
  main .js .js-1 {
    width: 42%;
  }
  .section3 .photo {
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .section3 .photo .sentences {
    width: 580px;
  }
  .section3 .photo .img {
    width: 580px;
    position: relative;
  }
  .section3 .photo .img .img1 {
    width: 100%;
  }
  .section3 .photo .img .img1 .green {
    position: absolute;
    z-index: 1000;
    bottom: -50px;
    right: -70px;
  }
  .section5 {
    width: 100%;
  }
  .section5 .choose {
    flex-wrap: wrap;
  }
  .section6 .photo {
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .section6 .photo .sentences {
    width: 580px;
  }
  .section6 .photo img {
    width: 580px;
  }
  .section8 {
    width: 100%;
  }
  .section8 .news {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .section8 .news .news-1 {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .section1 .easylo {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .section1 .easylo .simple {
    width: 100%;
  }
  .section2 .solution {
    width: 90%;
  }
  .section2 .solution h1 {
    font-size: 30px;
  }
  .section2 .solution p {
    padding: 0px 60px;
  }
  .section4 .solution {
    width: 90%;
  }
  .section4 .solution h1 {
    font-size: 30px;
  }
  .section4 .solution p {
    padding: 0px 60px;
  }
  .section7 .solution {
    width: 90%;
  }
  .section7 .solution h1 {
    font-size: 30px;
  }
  .section3 .photo {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .section3 .photo .sentences {
    width: 90%;
  }
  .section3 .photo .img {
    width: 450px;
    position: relative;
  }
  .section3 .photo .img .img1 {
    width: 100%;
  }
  .section3 .photo .img .img1 .green {
    position: absolute;
    z-index: 1000;
    bottom: -60px;
    right: -70px;
  }
  .section5 .choose {
    width: 100%;
  }
  .section5 .choose .choose-1 {
    width: 45%;
  }
  .section6 .photo {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .section6 .photo .sentences {
    width: 90%;
  }
  .section6 .photo .img {
    width: 450px;
    position: relative;
  }
  .section6 .photo .img img {
    width: 100%;
  }
  .section8 {
    width: 100%;
  }
  .section8 .news {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .section8 .news .news-1 {
    width: 45%;
  }
  .section8 .news .news-1 h1 {
    font-size: 22px;
  }
  .section8 .news .news-1 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 10px;
  }
  .section1 .easylo {
    width: 100%;
  }
  .section1 .easylo .simple {
    width: 100%;
  }
  .section1 .easylo .select {
    width: 100%;
  }
  .section2 .solution {
    width: 90%;
  }
  .section2 .solution h1 {
    font-size: 24px;
  }
  .section2 .solution p {
    padding: 0px 20px;
  }
  .section4 .solution {
    width: 90%;
  }
  .section4 .solution h1 {
    font-size: 24px;
  }
  .section4 .solution p {
    padding: 0px 20px;
  }
  .section7 .solution {
    width: 90%;
  }
  .section7 .solution h1 {
    font-size: 24px;
  }
  main .js {
    flex-direction: column;
    gap: 40px;
  }
  main .js .js-1 {
    width: 100%;
  }
  .section3 .photo .sentences {
    width: 100%;
  }
  .section3 .photo .sentences h1 {
    font-size: 27px;
  }
  .section3 .photo .img {
    width: 100%;
    position: relative;
  }
  .section3 .photo .img .img1 {
    width: 100%;
  }
  .section3 .photo .img .img1 .green {
    width: 200px;
    padding: 10px 0px;
    bottom: -60px;
    right: 0px;
  }
  .section3 .photo .img .img1 .green h1 {
    font-size: 30px;
  }
  .section5 .choose {
    width: 100%;
    flex-direction: column;
  }
  .section5 .choose .choose-1 {
    width: 95%;
  }
  .section6 .photo .sentences {
    width: 100%;
  }
  .section6 .photo .sentences h1 {
    font-size: 27px;
  }
  .section6 .photo .img {
    width: 100%;
  }
  .section6 .photo .img img {
    width: 100%;
  }
  .section8 {
    width: 100%;
  }
  .section8 .news {
    flex-direction: column;
  }
  .section8 .news .news-1 {
    width: 95%;
  }
  .section8 .news .news-1 h1 {
    font-size: 25px;
  }
  .section8 .news .news-1 p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */